body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    width: 100vw;
    height: 100%;
    align-self: baseline;
}

h1 {
    font-size: 48px;
    color: var(--tertiary);
    margin: 20px;
}

.yarn-ball {
    position: relative;
    top: 0;
    left: -99px;
    animation-name: yarn-ball;
    animation-duration: 4s;
    /* transform: translateX(283px); */
    animation-fill-mode: backwards;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    /* display: inline;
    position: relative;
    left: 0; */
}

@keyframes yarn-ball {
    0% {
        transform:  translateX(0)
                    translateY(200px)
                    rotate(51deg);
    } 
    
    16% {
        transform:  translateX(50px)
                    translateY(100px)
                    rotate(51deg);
    }

    33% {
        transform:  translateX(0px)
                    translateY(300px)
                    rotate(51deg);
    }
    49% {
        transform:  translateX(0px)
                    translateY(50px)
                    rotate(51deg);
    }
    66% {
        transform: translateX(180px)
                    translateY(3px)
                    rotate(51deg);
    }
    83% {
        transform:  translateX(270px)
                    translateY(300px)
                    rotate(51deg);
    } 
    100% {
        transform: translateX(383px)
                    translateY(300px)
                    rotate(51deg);
    }    
}




@media (min-width: 360px) {
    .yarn-ball {
        transform: translateX(340px);
    }
}


@media (min-width: 480px) {
    .yarn-ball {
        transform: translateX(465px);
    }
}

/* Small (sm)  portrait tablets and large phones */
@media (min-width: 640px) {
    .yarn-ball {
        transform: translateX(634px);
    }
}

/* Medium (md) landscape tablets*/
@media (min-width: 768px) {
    /* Your styles for the medium breakpoint here */
    h1 {
        margin-top: 120px;
    }
   
    main {
        /* display: flex;
        justify-content: space-around;
        align-items: center; */
        /* margin-bottom: 150px; */
    }

    .yarn-ball {
        transform: translateX(730px);
    }
}

/* Large (lg) laptops/desktops*/
@media (min-width: 1024px) {
    /* Your styles for the large breakpoint here */
    .yarn-ball {
        transform: translateX(900px);
    }
}

/* Extra Large (xl) large laptops and desktops*/

@media (min-width: 1280px) {
    /* Your styles for the extra large breakpoint here */
    h1 {
        margin-top: 120px;
        margin-left: 120px;
    }
    
    .yarn-ball {
        transform: translateX(1000px);
    }
}

/* 2XL (2xl) */
@media (min-width: 1536px) {
    /* Your styles for the 2XL breakpoint here */
    .yarn-ball {
        transform: translateX(1300px);
    }
}