.nav-menu-items .nav-contact {
    color: var(--cta);
    text-decoration: underline;
    text-underline-offset: 0.25rem;
    text-decoration-style: dashed;
}

main {
    background-color: var(--primary);
}

.hero-banner img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
}

.form-container {
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    width: 88vw;
    align-items: center;
    gap: 8px;
}

form h2 {
    color: var(--orange);
}

#name, #email, #contact-reason, #message {
    border-radius: 0.5rem;
    border: 1px solid var(--secondary);
    background-color: var(--secondary-light);
    padding-left: 1.25rem;
    font-size: 1rem;
    width: 100%;
}

#contact-reason:hover, #contact-reason:focus, #name:focus, #name:hover ,#email:hover, #email:focus, #message:hover #message:focus {
    border: 2px solid var(--primary-dark);
}

#name, #email, #contact-reason {
    height: 2.5rem;
}

#contact-reason, #message {
    font-family: var(--paragraph);
}

#contact-reason {
    padding-right: 1.25rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
}

#message {
    padding-top: 1rem;
}

::placeholder {
    color: var(--primary);
}

form button {
    height: 2.5rem;
    width: 11rem;
    font-size: 1rem;
    background-color: var(--cta);
    border-radius: 0.5rem;
    border: none;
    color: var(--primary);
    align-self: flex-start;
}

form button:hover, form button:focus {
    border: 1px solid var(--secondary);
    background-color: var(--cta-light);
}

.map {
    margin: 1.25rem;
    width: 80%; 
    max-width: 751px;
    height: 26rem;
}

.map iframe {
    height: 100%;
    width: 100%;
}

.location, .location p {
    color: var(--secondary);
    margin: 0;
}

.location h2 {
    color: var(--orange);
    font-size: 2.5rem;
}

.location {
    display: flex;
    flex-direction: column;
    
    padding: 1.875rem 1.25rem;
    max-width: 1024px;
}

@media (min-width: 640px) {
    .form-container {
        flex-direction: row;
    }

    form {
        margin: 1.25rem;
    }
}
