.hero-banner img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
}

.form-container {
    width: 100vw;
    /* justify-content: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.svg-letter {
    max-height: 453px;
    width: 450px;
}

form {
    display: flex;
    flex-direction: column;
    width: 88vw;
    align-items: center;
    gap: 8px;
}

#name, #email, #contact-reason, #message {
    border-radius: 8px;
    border: 1px solid var(--primary);
    background-color: var(--secondary-light);
    padding-left: 20px;
    font-size: 1rem;
    width: 100%;
}

#contact-reason:hover, #contact-reason:focus, #name:focus, #name:hover ,#email:hover, #email:focus, #message:hover #message:focus {
    border: 2px solid var(--primary-dark);
}

#name, #email, #contact-reason {
    height: 40px;
}

#contact-reason, #message {
    font-family: var(--paragraph);
}

#contact-reason {
    padding-right: 20px;
}

::placeholder {
    color: var(--primary);
}

form button {
    height: 40px;
    width: 176px;
    font-size: 16px;
    background-color:  ;
}

.location, .location p {
    background-color: var(--primary);
    color: var(--secondary);
    margin: 0;
}

.location h2 {
    color: var(--orange);
    font-size: 40px;
}

.location {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
}

.location iframe {
    width: 100%; 
    height: 400px;
}

@media (min-width: 640px) {
    .form-container {
        flex-direction: row;
        max-width: 689px;
        justify-content: space-around;
    }
    
    form {
        margin: 20px;
    }
}

/* Medium (md) landscape tablets*/
@media (min-width: 768px) {
    /* Your styles for the medium breakpoint here */

}