main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-menu-items .nav-exhibits {
    color: var(--cta);
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-style: dashed;
}

.hero-banner {
    height: 270px;
    background-color: #000;
}

.hero-banner-header {
    font-size: 3rem;
    position: absolute;
    top: 167px;
    padding-left: 30px;
    color: var(--whiteish);
}

.hero-banner img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.future-textiles-container, .vr-textile-container, .sustainable-textiles-container, .history-of-textiles-container, .printing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.future-textiles-container h2, .vr-textile-container h2, .sustainable-textiles-container h2, .history-of-textiles-container h2, .printing h2 {
    font-size: 32px;
}

.history-of-textiles-container a {
    text-decoration: none;
}

.history-of-textiles-container h2, .sustainable-textiles-container h2 {
    color: var(--tertiary);
}

.printing h2, .future-textiles-container h2 {
    color: var(--primary);
}

.vr-textile-container h2 {
    color: var(--orange);
}

/* Medium (md) landscape tablets*/
@media (min-width: 768px) {
    /* Your styles for the medium breakpoint here */
    .history-of-textiles-container, .sustainable-textiles-container, .future-textiles-container {
        flex-direction: row;
    }

    .vr-textile-container, .printing {
        flex-direction: row-reverse;
    }

    .history-of-textiles-container, .sustainable-textiles-container, .future-textiles-container, .vr-textile-container, .printing {
        margin: 0 35px;
    }
}

/* Large (lg) laptops/desktops*/
@media (min-width: 1024px) {
    /* Your styles for the large breakpoint here */
    .hero-banner {
        height: 416px;
    }

    .hero-banner-header {
        font-size: 6rem;
        top: 200px;
        margin-left: 4.5rem;
    }

    .history-of-textiles-container, .sustainable-textiles-container, .future-textiles-container, .vr-textile-container, .printing {
        margin: 0 70px;
    }
}

/* Extra Large (xl) large laptops and desktops*/
@media (min-width: 1280px) {
    /* Your styles for the extra large breakpoint here */
    .history-of-textiles-container, .printing, .sustainable-textiles-container, .vr-textile-container, .future-textiles-container {
        max-width: 1280px;
    }
}
