footer {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--primary);
    align-items: center;
    gap: 16px;
    padding: 20px;
}

footer h4 {
    letter-spacing: 2px;
}

.footer-logo {
    height: 165px;
    width: 150px;
    margin: 20px;
}

.footer-logo svg {
    width: 100%;
    height: 100%;
}

.footer-links, .footer-social {
    margin: 0;
    padding: 0;
}

.footer-links {
    text-align: center;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.heading-social {
    padding: 8px 0;
}

.footer-heading {
    margin: 0;
    font-size: 1rem;
    text-align: center;
}

.footer-links li, .footer-social li, footer ul a, .footer-heading {
    list-style: none;
    color: var(--secondary);
    text-decoration: none;
}

.footer-links li {
    padding: 6px 0;
}

/* Medium (md) landscape tablets*/
@media (min-width: 768px) {
    /* Your styles for the medium breakpoint here */
    footer{
        flex-direction: row;
    }

    .footer-links, .footer-heading {
    text-align: start;
    }   
}
