header {
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100vw;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
    height: 3rem;
    align-items: center;
    position: relative;
}

.nav-logo {
    height: 2.25rem;
    display: flex;
    align-items: center;
}

.nav-logo, nav label {
    padding: 0 1.25rem;
}

.nav-menu-items li {
    list-style: none;
    padding: 1rem 0 1rem 1.25rem;
    margin: 0;
}

nav li a {
    font-family: var(--header);
    text-decoration: none;
}

nav li a:hover {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 0.25rem;
}

#nav-menu-button:checked ~ .nav-menu-items {
    display: block;
    position: absolute;
    background-color: var(--primary);
    width: 100vw;
    top: 3rem;
    margin: 0;
    padding: 0;
}

.nav-menu-items {
    display: none;
}

#nav-menu-button {
    display: none;
}

nav a, nav label{
    color: var(--secondary);
}

/* Small (sm)  portrait tablets and large phones */
@media (min-width: 640px) {
    .nav-logo, .nav-menu-items {
        padding: 0 2.188rem;
    }
}

/* Medium (md) landscape tablets*/
@media (min-width: 768px) {
    /* Your styles for the medium breakpoint here */
    nav label {
        display: none;
    }

    .nav-menu-items {
        display: flex;
        justify-content: space-around;
        padding-left: 1.25rem;
        margin: 0;
    }

    .nav-menu-items li {
        padding: 0 1.25rem;
        border: none;
    }
}

/* Large (lg) laptops/desktops*/
@media (min-width: 1024px) {
    /* Your styles for the large breakpoint here */
    .nav-logo, .nav-menu-items {
        padding: 0 4.375rem;
    }
}
