:root {
    --primary: #417777;
    --secondary: #A6E6DB;
    --tertiary: #AA1155;
    --cta: #CBFF8C;
    --orange: #FC9E4F;
    --secondary-light: #E5F5F3;
    --whiteish: #FAFAFA;
    --blackish: #1E2323;
    --header: 'Ranchers', sans-serif;
    --paragraph: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;

}

p {
    color: var(--blackish);
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ranchers', sans-serif;
}