h1 {
    color: var(--whiteish);
    font-size: 2rem;
    margin-top: 0;
    bottom: 10rem;
}

h2 {
    color: var(--orange);
}

.nav-menu-items .nav-home {
    text-decoration: underline;
    text-underline-offset: 0.25rem;
    text-decoration-style: dashed;
}

.nav-menu-items .nav-home, .hero-banner h2 {
    color: var(--cta);
}

/* .blue-background {
    background-color: var(--secondary);
} */

/* .orange-background, .orange-background-article {
    background-color: var(--orange);
} */

/* .green-background, .green-background-article {
    background-color: var(--cta);
} */

.pink-background {
    background-color: var(--tertiary);
}

/* .primary-background {
    background-color: var(--primary);
} */

.hero-banner {
    position: relative;
    height: 28.75rem;
    background-color: #000;
    width: 100vw;
}

.hero-banner h1, .hero-banner h2 {
    position: absolute;
    margin-left: 1.25rem;
}

.hero-banner h2 {
    bottom: 8.125rem;
    font-size: 1.5rem;
}

.hero-banner img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.new-exhibit, .new-event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
}

.new-exhibit a, .new-event a {
    text-decoration: none;
}

.new-exhibit h3, .new-event h3 {
    color: var(--primary);
}

.new-event-text, .new-exhibit-text {
     max-width: 21.875rem;
}

.new-exhibit-image {
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 37.5rem;
}

.background-article {
    height: 7rem;
    width: 16.563rem;
    z-index: -10;
    position: absolute;
}

.home-information {
    height: auto;
    width: 100vw;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 2px;
}

.home-information .home-information-content {
    margin: 0;
}

.home-information p, .home-information{
    color: var(--secondary);
    margin: 0;
}

.home-information iframe {
    height: 15.625rem;
    width: 100%;
    border: none;
}

.image-links {
    position: relative;
    top: 1px;
    width: 100vw;
}

.article-link {
    height: 20rem;
    width: 100vw;
    position: relative;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.article-link img {
    height: 80%;
    width: 80%;
    margin: auto;
    object-fit: cover;
    opacity: 0.7;
}

.article-link-h3 {
    position: absolute;
    top: 8.75rem;
    left: 3.25rem;
    width: 15.625rem;
    color: var(--cta);
    font-size: 1.5rem;
}

.tickets-link, .exhibits-link, .contact-us-link, .events-link {
    height: 13.5rem;
    width: auto;
    display: flex;
    justify-content: center;
}

.tickets-link h3, .exhibits-link .h3, .contact-us-link .h3, .events-link .h3 {
    position: absolute;
    z-index: 30;
    bottom: 0.625rem;
    font-size: 2rem;
}

.image-links a {
    text-decoration: none;
}

.image-links a:hover, .image-links a:focus, .tickets-link h3:hover, .tickets-link h3:focus {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 4px;
}

.tickets-link h3 {
    color: var(--primary);
}

.exhibits-link .h3{
    color: var(--secondary);
}

.contact-us-link .h3{
    color: var(--tertiary);
}

.events-link .h3 {
    color: var(--secondary);
}

.tickets-link img, .exhibits-link img, .contact-us-link img, .events-link img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.tickets-link, .exhibits-link, .contact-us-link, .events-link, .article-link {
    position: relative;
}

.exhibits-link svg, .events-link svg, .tickets-link svg, .contact-us-link svg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 20;
}

@media (min-width: 480px) {
    .article-link-h3 {
        margin-left: 5rem;
        width: 15.625rem;
    }

    .tickets-link, .exhibits-link, .contact-us-link, .events-link {
        height: 18.75rem;
    }

    .new-exhibit-image .image-tablet, .new-event-image .image-tablet {
        display: flex;
    }
    
    .new-exhibit-image .image-mobile, .new-event-image .image-mobile {
        display: none;
    }
}

/* Small (sm)  portrait tablets and large phones */
@media (min-width: 640px) {
    .hero-banner h1, .hero-banner h2 {
        margin-left: 2.188rem;
    }

    .home-information {
        flex-direction: row;
        padding: 2.188rem;
        gap: 1.25rem;
        justify-content: space-around;
    }

    .home-information iframe{
        height: 26.875rem;
    }

    .article-link-h3 {
        width: 28.375rem;
    }

    .tickets-link, .exhibits-link, .contact-us-link, .events-link {
        height: 22.5rem;
    }
}

/* Medium (md) landscape tablets*/
@media (min-width: 768px) {
    /* Your styles for the medium breakpoint here */
    .hero-banner {
        height: 32.5rem;
    }

    .hero-banner h1 {
        font-size: 3rem;
    }

    .hero-banner h2 {
        font-size: 2rem;
    }

    .new-exhibit, .new-event {
        justify-content: space-around;
    }

    .new-exhibit {
        flex-direction: row;
    }

    .new-event {
        flex-direction: row-reverse;
    }

    .home-information {
        height: auto;
    }

    .home-information iframe{
        height: 25rem;
    }

    .home-information-text {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 31.125rem;
    }

    .article-link {
        grid-area: article-link;
        height: 52.125rem;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .article-link-h3 {
        margin-left: 4.25rem;
        width:37.5rem;
        top: 29.688rem;
        font-size: 2rem;
    }

    .article-link img {
        object-fit: cover;
        height: 80%;
        width: 80%;
    }

    .tickets-link h3, .exhibits-link .h3, .contact-us-link .h3, .events-link .h3 {
        font-size: 2rem;
        bottom: -1.25rem;
    }

    .tickets-link, .exhibits-link, .contact-us-link, .events-link {
        height: 17.25rem;
        width: auto;
    }

    .tickets-link {
        grid-area: tickets-link;
    }
    
    .exhibits-link {
        grid-area: exhibits-link;
    }

    .contact-us-link {
        grid-area: contact-link;
    }
    
    .events-link {
        grid-area: events-link;
    }

    .image-links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        "article-link article-link"
        "tickets-link exhibits-link"
        "contact-link events-link"
        ;
    }
}

/* Large (lg) laptops/desktops*/
@media (min-width: 1024px) {
    /* Your styles for the large breakpoint here */
    .hero-banner {
        height: 41.5rem;
    }

    .hero-banner h1 {
        font-size: 6rem;
    }

    .hero-banner h2 {
        font-size: 3rem;

    }

    .hero-banner h1, .hero-banner h2 {
        margin-left: 4.375rem;
    }

    .new-event, .new-exhibit, .home-information-content, .articles {
        max-width: 1024px;
        margin: auto;
    }

    .new-exhibit-image .image-tablet, .new-event-image .image-tablet {
        display: none;
    }

    .home-information {
        height: 41.5rem;
    }

    .home-information iframe{
        height: 30.688rem;
        width: 30.688rem;
    }

    .image-links {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "article-link tickets-link exhibits-link"
        "article-link contact-link events-link"
        ;
    }

    .article-link {
        height: 34.5rem;
    }

    .article-link-h3 {
        width: 25.625rem;
        top: 17.25rem;
        margin-left: 1rem;
    }
}

/* Extra Large (xl) large laptops and desktops*/
@media (min-width: 1280px) {
    /* Your styles for the extra large breakpoint here */
    .home-information {
        justify-content: center;
    }

    .article-link h3 {
        margin-left: 2.625rem;
        width: 31.438rem;
    }
}
