h1 {
    color: var(--blackish);
    font-size: 32px;
    margin-top: 0;
}

h2 {
    color: var(--orange);
}

body {
    grid-area-template
}

.hero-banner h1, .hero-banner h2 {
    position: relative;
    bottom: 270px;
}

.hero-banner {
    position: relative;
}

.image-tablet, .image-desktop {
    display: none;
}

.background-new-exhibit {
    height: 177px;
    width: 173px;
    z-index: -10;
    position: absolute;
    right: 28px;
    bottom: 20px;
}

.blue-background {
    background-color: var(--secondary);
}

.orange-background {
    background-color: var(--orange);
}

.green-background {
    background-color: var(--cta);
}

.pink-background {
    background-color: var(--tertiary);
}

.primary-background {
    background-color: var(--primary);
}

.new-exhibit-image {
    position: relative;
    max-width: 600px;
}

.orange-background-exhibit {
    position: absolute;
    right: 0;
    height: 189px;
    width: 189px;
}

.background-article {
    height: 112px;
    width: 265px;
}

.green-circle {
    width: 57px;
    height: 57px;
    border-radius: 50%;
    position: absolute;
    right: 17px;
}

.event-yarn-ball {
    height: 104px;
    width: 104px;
    position: absolute;
    right: 22px;
}

.home-information {
    display: flex;
    flex-direction: column;
}

.background-tree-of-learning {
    height: 265px;
    width: 265px;
}

.article-link {
    height: 320px;
    width: 100vw;
    grid-area: article-link;
}

.tickets-link, .exhibits-link, .contact-us-link, .events-link {
    height: 216px;
    width: 100vw;
    position: relative;
}

.tickets-link {
    grid-area: tickets-link;
}

.exhibits-link {
    grid-area: tickets-link;
}

.exhibits-link svg {
    position: absolute;
    width: 100vw;
    height: auto;
}

.contact-us-link {
    grid-area: contact-link;
}

.events-link {
    grid-area: events-link;
}
/* Small (sm)  portrait tablets and large phones */
@media (min-width: 640px) {

    .image-mobile, .image-desktop {
        display: none;
    }

    .image-tablet {
        display: block;
    }

    .home-information {
        flex-direction: row;
    }
}

/* Medium (md) landscape tablets*/
@media (min-width: 768px) {
    /* Your styles for the medium breakpoint here */
    
}

/* Large (lg) laptops/desktops*/
@media (min-width: 1024px) {
    /* Your styles for the large breakpoint here */

    .image-tablet, .image-mobile {
        display: none;
    }

    .image-desktop {
        display: block;
    }
}

/* Extra Large (xl) large laptops and desktops*/

@media (min-width: 1280px) {
    /* Your styles for the extra large breakpoint here */

}

/* 2XL (2xl) */
@media (min-width: 1536px) {
    /* Your styles for the 2XL breakpoint here */

}